<div class="container">
  <div class="parties imageDeFond">
    <div class="titre">
      <div class="principal">
        <h1>Compteur de points de belote !</h1>
      </div>
      <div class="nb_partie">
        <h2>Donne {{ donneCourante }}</h2>
      </div>
    </div>
    <main>
      <div class="equipes">
        <div class="joueur1 joueur">
          <div class="equipeNous">
            <h3>Equipe 1</h3>
            <input
              type="number"
              [(ngModel)]="pointsNous"
              min="0"
              placeholder="Nos points"
            />
            <select [(ngModel)]="annonceNous">
              <option value="0">Sans annonce</option>
              <option value="20">Belote</option>
              <option value="1">Capot</option>
            </select>
            <div class="totalNous">Total {{ this.totalPointsNous }}</div>
          </div>
        </div>
        <div class="joueur2 joueur">
          <div class="equipeEux">
            <h3>Equipe 2</h3>
            <input
              type="number"
              [(ngModel)]="pointsEux"
              min="0"
              placeholder="Leurs points"
            />
            <select [(ngModel)]="annonceEux">
              <option value="0">Sans annonce</option>
              <option value="20">Belote</option>
              <option value="1">Capot</option>
            </select>
            <div class="totalEux">Total {{ this.totalPointsEux }}</div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="boutons">
    <!-- Soit l'un ou l'autre bouton -->
    <button *ngIf="donneCourante < 12" (click)="ajouterDonne()">Ajouter une donne</button>
    <button *ngIf="donneCourante == 12" (click)="nouvelleManche()">Nouvelle manche</button>

    <button (click)="calculerPointsDonne()">Calculer donne</button>
    <div class="point" *ngIf="resultatDonne">
      <p>Donne {{ donneCourante }} :</p>
      <p>Equipe 1 : <br> {{ resultatDonne.pointsNous }}</p>
      <p><span>Equipe 2 : <br> {{ resultatDonne.pointsEux }}</span></p>
    </div>
    <button (click)="razDonne()">RAZ</button>

  </div>

  <div class="resultat" *ngIf="mancheActuelle != 0">

    <ul>
      <li *ngFor="let entry of getResultManches()">
        Manche {{ entry[0] }} :<br> Equipe 1 : {{ entry[1][0] }} -- <span>Equipe 2 : {{ entry[1][1] }}</span>
      </li>
    </ul>
    

  </div>

</div>
