@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kaushan+Script&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Dancing Script", sans-serif;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  justify-content: center;
  min-width: 1030px;
  min-height: 660px;
  background-image: url(../assets/images/fond_bois.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Styles pour les écrans desktops */
@media (min-width: 1030px) {
  .container {
    min-height: 100vh;
    width: 100%;
  }
}

.imageDeFond {
  background-image: url(../assets/images/tapis.png);
  background-repeat: no-repeat;
  object-fit: contain;
  width: 660px;
  height: 660px;
  margin: auto;
}

.titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 15px;
}

.equipes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.joueur {
  background-repeat: no-repeat;
  background-size: contain;
  width: 230.7px;
  height: 352px;
  opacity: 0.8;
}

.joueur1 {
  background-image: url(../assets/images/joueur1.png);
  margin: 15px;
}
.joueur2 {
  display: flex;
  background-image: url(../assets/images/joueur2.png);
  margin-top: 220px;
  margin-left: 80px;
}

.equipeNous,
.equipeEux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 10px;
}
.equipeNous h3,
.equipeNous select,
.equipeNous input,
.totalNous,
.equipeNous option {
  color: black;
  width: 100%;
}
.equipeEux h3,
.equipeEux select,
.equipeEux input,
.totalEux,
.equipeEux option {
  color: #ec0003;
  width: 100%;
}
.equipeEux input {
  border: #ec0003 1px solid;
}

.boutons {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  gap: 20px;
  opacity: 0.8;
}
button {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px 20px;
  box-shadow: 10px 5px 5px black;
}
.point {
  position: absolute;
  top: -220px; /* Ajuster cette valeur en fonction de l'espace dont vous avez besoin */
  left: 10px;
  right: 15px;
  background: white;
  opacity: 0.8;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 5px 5px black;
}

.point p {
  color: black;
  text-align: center;
}

button:hover {
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
}
.resultat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px; /* Pour arrondir légèrement les coins */
  opacity: 0.8;
}

.resultat ul {
  list-style-type: none; /* Supprimer les puces des éléments de liste */
  padding: 0; /* Supprimer le padding par défaut de la liste */
  margin: 0;
}

.resultat li {
  color: black;
  padding: 10px 20px; /* Espacement interne pour chaque élément */
  margin-bottom: 30px; /* Espacement entre les éléments */
  border-radius: 20px; /* Arrondir légèrement les coins de chaque élément */
  background-color: white; /* Assure un fond blanc pour chaque élément de la liste */
  box-shadow: 10px 5px 5px black; /* Ajoute une légère ombre pour séparer les éléments */
}
span {
  font-weight: bold;
  color: #ec0003;
}



/* Styles pour les écrans mobiles */
@media (max-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    width: 384px;
    height: 854px;
  }
  .imageDeFond {
    background-image: none;
  }
  .titre {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 0, 3, 0.5);
    margin: 5px;
    gap: 10px;
    max-width: 100%;
  }
  .equipes {
    display: grid;
    grid-template-columns: 1fr;
  }
}
