<div class="container">
  <div class="parties imageDeFond">
    <div class="titre">
      <div class="principal">
        <h1>Compteur de points de belote !</h1>
      </div>
      <div class="nb_partie">
        <h2>Partie {{ partieCourante }}</h2>
      </div>
    </div>
    <main>
      <div class="equipes">
        <div class="joueur1 joueur">
          <div class="equipeNous">
            <h3>Nous</h3>
            <input
              type="number"
              [(ngModel)]="pointsNous"
              min="0"
              placeholder="Nos points"
            />
            <select [(ngModel)]="annonceNous">
              <option value="0">Sans annonce</option>
              <option value="20">Belote</option>
              <option value="1">Capot</option>
            </select>
            <div class="totalNous">Total {{ this.totalPointsNous }}</div>
          </div>
        </div>
        <div class="joueur2 joueur">
          <div class="equipeEux">
            <h3>Eux</h3>
            <input
              type="number"
              [(ngModel)]="pointsEux"
              min="0"
              placeholder="Leurs points"
            />
            <select [(ngModel)]="annonceEux">
              <option value="0">Sans annonce</option>
              <option value="20">Belote</option>
              <option value="1">Capot</option>
            </select>
            <div class="totalEux">Total {{ this.totalPointsEux }}</div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="boutons">
    <button (click)="calculerPointsPartie()">Calculer</button>
    <button (click)="raz()">RAZ</button>
    <div *ngIf="resultatPartie">
      <p>**Partie {{ partieCourante }} :**</p>
      <p>Nous : {{ resultatPartie.pointsNous }}</p>
      <p>Eux : {{ resultatPartie.pointsEux }}</p>
    </div>
    <button (click)="ajouterPartie()">Ajouter une partie</button>
  </div>
</div>
